
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans:700|Slabo+27px&display=swap');
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Fira Sans', sans-serif; */


/* Tree logo on left side of nav bar */
.logo {
  height: auto;
  width: auto;
  max-height: 52px;
  max-width: 230px;
}

/* main picture at top of the site */
#forest {
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -1;
  /* margin-top: -300px; */
  }

  /* layout of the sections or "pages" */
  .page {
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

#home-page {
  position: relative;
  text-align: center;
}

#name-title {
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.158);
  /* text-shadow: h-shadow v-shadow blur-radius color */
  text-shadow: 2px 2px 15px rgb(17, 13, 13);
}

.page-header{
  font-family: 'Slabo 27px', serif;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-decoration: underline;
}


#about-page {
  position: relative;
  text-align: left;
  background-color: #100f0de1;
  min-height: 90vh;
  background-image: url('../images/greyscale.jpg');
}

#about-text {
  font-family: 'Fira Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.158);
  max-width: 700px;
}

#skills-page {
  position: relative;
  text-align: center;
  background-color: #100f0dea;
}

.skills-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.158);
}

#projects-page {
  position: relative;
  text-align: center;
  background-color: #100f0df5;
}

.project-container{
  font-family: 'Fira Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.158);
  text-align: left;
}

.project-picture {
  height: 30vh;
  width: auto;
  float: right;
}

.left {
  float: left;
}

#contact-page {
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  min-height: 10vh;
}

.contact-image {
  height: 10vh;
  width: auto;
  margin: 2vw 4vw;
  transition: all .1s ease-in-out;
}

.contact-image:hover { transform: scale(1.1); }


.navbar {
  background:whitesmoke !important;
}

.greyscale {
  /* background-image: url('../images/greyscale.jpg'); */
}

/*  
.parallax-container {
    height: 100%;
}
  
.parallax {
    z-index: 0;
  } */

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

.parallax {
  /* The image used */
  background-image: url('../images/foresttrees.jpg');

  /* Full height */
  height: 100%;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}